<div class="chat_window">
    <div class="top_menu">
      <div class="buttons">
        <div class="button close"></div>
        <div class="button minimize"></div>
        <div class="button maximize"></div>
      </div>
      <div class="title">
        <img src="../../../assets/klin-icon.png" width="25px" height="25px">
        KLIN Continental 
      </div>
    </div>
    <ul class="messages">
      <li class="message left">
        <div class="avatar">
          <img src="../../../assets/klin-icon.png" width="50px" height="50px">
        </div>
        <div class="text_wrapper">
          <div class="text">Bienvenido Franklin, soy tu asistente en el curso de Cloud Computing.</div>
        </div>
      </li>
      <li class="message left">
        <div class="avatar">
          <img src="../../../assets/klin-icon.png" width="50px" height="50px">
        </div>
        <div class="text_wrapper">
          <div class="text">
            <b>Menú de Opciones:</b><br>
            1. Q&A Cloud Computing &#128516; <br>
            2. Calendario y Eventos &#128525;<br>
            3. Información del curso &#128151;</div>
        </div>
      </li>
      <li class="message right" *ngFor="let item of messageList" 
        [ngClass]="{'left': item.message_side === 'receiver', 'right': item.message_side =='sender'}"
      >
        <div class="avatar">
          
        </div>
        <div class="text_wrapper">
          <div class="text">{{item.message}} </div>
        </div>
      </li>
      
    </ul>
    <div class="bottom_wrapper clearfix">
      <div class="message_input_wrapper">
        <input class="message_input" placeholder="Mensaje..."[(ngModel)]="messageInput" 
        (keyup.enter)="sendMessage()" />
      </div>
      <div class="send_message" (click)="sendMessage()">
        <div class="icon"></div>
        <div class="text">Enviar</div>
      </div>
    </div>
  </div>

